<h2 class="text-center">Forgot Password</h2>
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4 col-md-offset-5">
<div class="jumbotron">
<form [formGroup]="angForm" (ngSubmit)="postdata(angForm.value)" autocomplete="off" >
<div class="form-group">
<label for="email">Email</label>
<input type="email" name="email" formControlName="email" style="color: black;" autocomplete="off" class="form-control input-sm" placeholder="Email" email>
</div>
<button type="submit" class="btn btn-success" >Send</button>
</form>
</div>
</div>
<div class="col-md-5">
</div>
</div>
