<h2 class="text-center">Registration</h2>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 col-md-offset-3">
<div class="jumbotron">
<form [formGroup]="angForm" (ngSubmit)="postdata(angForm.value)" autocomplete="off" >
<div class="form-group">
    <label for="username">Name</label>
    <input type="text" name="username" formControlName="username" autocomplete="off" style="color: black;" class="form-control input-sm" placeholder="Name">
</div>
<div *ngIf="(username.invalid && username.touched) || username.dirty">
    <small *ngIf="username.errors?.required" class="text-danger"> Username is required</small>
  </div>
<div class="form-group">
    <label for="Password">Password</label>
    <input type="password" name="Password" formControlName="password" autocomplete="off" style="color: black;" class="form-control input-sm" placeholder="Password">
</div>    
<div *ngIf="(password.invalid && password.touched) || password.dirty">
    <small *ngIf="password.errors?.required" class="text-danger"> Password is required</small>
  </div>
<div class="form-group">
<label for="email">Email</label>
<input type="email" name="email" formControlName="email" autocomplete="off" style="color: black;" class="form-control input-sm" placeholder="Email">
</div>
<div *ngIf="(email.invalid && email.touched) || email.dirty">
    <small *ngIf="email.errors?.required" class="text-danger"> Email is required</small>
    <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
  </div>
<div class="form-group">
    <label for="mobile">Mobile</label>
    <input type="number" name="mobile" formControlName="mobile" autocomplete="off" style="color: black;" class="form-control input-sm" placeholder="Mobile Number">
</div>
<div *ngIf="(mobile.invalid && mobile.touched) || mobile.dirty">
    <small *ngIf="mobile.errors?.required" class="text-danger"> Mobile Number is required</small>
    <small *ngIf="mobile.errors?.pattern" class="text-danger">  Enter 10 digit Mobile Number</small>
  </div>

<div class="form-group">
    <label for="type">User Type</label>
    <div class="custom-control custom-radio">
  <input type="radio"  value="Student"  formControlName="type" >&nbsp; Student
</div>
<div class="custom-control custom-radio">
  <input type="radio"formControlName="type" value="Ambassador"> &nbsp;Ambassador
</div>
</div>
<div *ngIf="(type.invalid && type.touched) || type.dirty">
    <small *ngIf="type.errors?.required" class="text-danger">Select Anyone of the UserType</small>
  </div>
<div class="form-group">
    <label for="division">Division</label>
    <select formControlName="division" name="division" class="form-control input-sm">
        <option value="IT">IT</option>
        <option value="HR">HR</option>
        <option value="Sales">Sales</option>
    </select>
</div>
<div *ngIf="(division.invalid && division.touched) || division.dirty">
    <small *ngIf="division.errors?.required" class="text-danger"> One Division Should be Selected</small>
  </div>
<button type="submit" class="btn btn-success" [disabled]="angForm.invalid"  >Register</button>
</form>
</div>
</div>
<div class="col-md-3">
</div>
</div>